<launch>
    <arg name="dry_run" default="false" />
    <arg name="web" default="true" />
    <arg name="secured" default="false" />
    <arg name="classifier" default="false" />

    <env name="DRY_RUN" value="$(optenv DRY_RUN 1)" if="$(eval dry_run)" />
    <env name="DIST_DATA" value="$(optenv DIST_DATA /home/pi/data)" />

    <node pkg="growbothub_tlc" type="devices.py" name="devices" output="screen" />
    <node pkg="growbothub_tlc" type="web.py" name="web" output="screen" if="$(eval web)"  />
    <node pkg="growbothub_tlc" type="scheduler.py" name="scheduler" output="screen" />
    <node pkg="growbothub_tlc" type="classifier.py" name="classifier" output="screen" if="$(eval classifier)" />

    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
        <arg name="ssl" value="$(eval secured)" />
        <arg name="keyfile" value="/etc/letsencrypt/keys/0000_key-certbot.pem"  />
        <arg name="certfile" value="/etc/letsencrypt/csr/0000_csr-certbot.pem" />
    </include>
</launch>
